/* ------ START WRITING YOUR CODE BELOW  
https://imagecolorpicker.com/en for all color stuff
------ */

  /*GS*/
  * {
    box-sizing: border-box;
}
html {
    font-size:1rem; /*rem is suprior*/
}

body {
    margin: 1rem auto;
    width:100%; 
}

* {
    background-color:rgb(255, 255, 255); /*#ffffff*/
}

.main-section {
    display: flex; /*maybe*/
    margin-left: 3rem;
    margin-right: 1rem;
}

.highlight {
    transform: rotate(-12deg);
}

.article-image{
    float: left;
    margin-right: .75rem;
}

.subsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}





  /*--HeaderFooter--*/

footer {
    font-family: "lato", sans-serif;
}

header {
    margin-bottom: 8rem;
    margin-left: none;
    margin-right: none;
}

  
/* font=fun, 8 types (based on the included css font)*/
/*sans-serif (LMOR)*/
@font-face {
    
    font-family:"lato";
    src: url(../fonts/sans-serif/lato-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {

    font-family:"montserrat";
    src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"opensans";
    src: url(../fonts/sans-serif/opensans-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"roboto";
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/*serif (JRRU)*/

@font-face {

    font-family:"josefinslab";
    src: url(../fonts/serif/josefinslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"robotoslab";
    src: url(../fonts/serif/robotoslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"rozhaone";
    src: url(../fonts/serif/rozhaone-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"ultra";
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* ALL <Styles related stuff */

h1 {
    font-family:"opensans", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    padding: 1rem;
    }

h2 {
    font-family:"roboto", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 3rem;
    margin-left: 4rem;
}

h3 {
    font-family: "opensans", sans-serif;
    font-size: 1.25rem;
    text-align: left;
}

.dots {
    font-size: .25rem;
}



/*STYLE STUFFS*/

.highlight {
    font-family:"ultra", serif;
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    border: .5rem (#83344d);
    background-color: (#83344d);
    box-shadow: (#3b3b3b);
    color:(#eeeedd);
    border-top-left-radius: 10% 30%;
    border-bottom-right-radius: 10% 30%;
    

}

nav {
    border-top: .03125rem solid rgb(0, 0, 0);
    border-bottom: .03125rem solid rgb(0, 0, 0);
    word-spacing: 5rem;
    line-height: 5rem;
    margin-left: 3rem;
}

nav a{
    font-family: "lato", sans-serif;
    font-size: 1rem;
    color: rgba(#27476e);
}

.lines{
    text-decoration-line: line-through;
    width: 9rem;
    height: 5rem;
    color: black;
    transform: rotate(10deg);
    }



/*SUB*/
button {
    font-family:"ultra", serif, times;
    font-size: 2rem;
    text-align: center;
    border: 0.75rem (#eeeedd)(#27476e);
    background-color: (#eeeedd)(#27476e);
    border-top-right-radius: 10% 30%;
    border-bottom-left-radius: 10% 30%;
    border-top-left-radius: 10% 30%;
    border-bottom-right-radius: 10% 30%;
    box-shadow: (#3e4041); /*issues?*/
    color: (#eeeedd);
    margin-top: 1rem;
}





    /*misc*/
.time {
    font-size: 1rem;
}

a:hover {
    border-bottom: .0625rem solid;
    background-color: rgb(#27476e);
}

a:active {
    background-color: rgb(#27476e);
}

hr {
    margin-right: 3rem
    }

.copyright {
   float: left;
   text-align: left;
}

.links {
   float: right;
   text-align: right;
}

p {
    font-family: "lato", sans-serif;
    text-align: left;

}

figcaption {
    border-top: 1rem solid (#eeeedd);
    border-left: .0625rem solid (#eeeedd);
    border-right: .0625rem solid (#eeeedd);
    border-bottom: .0625rem solid (#eeeedd);
    background-color: (#eeeedd);
}

aside {
    margin-left: 2rem;
    margin-right: 3rem;
    padding-left: 1rem;
    border-left: .03125rem solid black;
    
    
}
/*no px*/