

/* ------ START WRITING YOUR CODE BELOW  
https://imagecolorpicker.com/en for all color stuff
------ */

/*color, del after*/
header, footer {
    border-top: .125rem solid #991919;
    border-bottom: .125rem solid #706969;
  }


  /*GS*/
  * {
    box-sizing: border-box;
}
html {
    font-size:1rem; /*rem is suprior*/
}

* {
    background-color:rgb(255, 255, 255); /*#ffffff*/
}

.main-section {
    display: flex; /*maybe*/
    margin-left: 3rem;
    margin-right: 1rem;
}

.highlight {
    transform: rotate(-10deg);
}

.article-image{
    float: left;
    margin-right: .75rem;
}

.subsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}




  /*--HeaderFooter--*/

footer {
    font-family: "lato", sans-serif;
}

header {
    margin-bottom: 8rem;
    margin-left: none;
    margin-right: none;
}

  
/* font=fun, 8 types (based on the included css font)*/
/*sans-serif (LMOR)*/
@font-face {
    
    font-family:"lato";
    src: url(../fonts/sans-serif/lato-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {

    font-family:"montserrat";
    src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"opensans";
    src: url(../fonts/sans-serif/opensans-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"roboto";
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/*serif (JRRU)*/

@font-face {

    font-family:"josefinslab";
    src: url(../fonts/serif/josefinslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"robotoslab";
    src: url(../fonts/serif/robotoslab-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"rozhaone";
    src: url(../fonts/serif/rozhaone-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"ultra";
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* ALL <Styles related stuff */

h1 {
    font-family:"opensans", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    padding: 1rem;
    }

h2 {
    font-family:"roboto", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 3rem;
    margin-left: 4rem;
}

h3 {
    font-family: "opensans", sans-serif;
    font-size: 1.25rem;
    text-align: left;
}

.dots {
    font-size: .25rem;
}



.CHARCOAL {
    text-decoration-line: line-through;
    width: 9rem;
    height: 5rem;
    color: black;
    text-transform: uppercase;
    transform: rotate(10deg);
    }




    /*misc*/
  .time {
    font-size: 1rem;
}

a:hover {
    border-bottom: .0625rem solid;
    background-color: rgb(#27476e);
}

a:active {
    background-color: rgb(#27476e);
}

hr {
    margin-right: 3rem
    }

.copyright {
   float: left;
   text-align: left;
}

.links {
   float: right;
   text-align: right;
}
