/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}


/* Root */

html {
    font-size:16px;
}


/* Body & Main  */

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ddd;
    background-image:url(../images/wrinkled-white-paper-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* The first heading style rule has been completed for you. Examine it carefully
   to get an idea of some of the style properties you will need to use; then
   complete the style code according to the instructions in Canvas. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */


/* Headings  */

h1 {
    text-transform: uppercase;
    font-size:6rem;
    margin: 0;
    letter-spacing: .5rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}
/* the level 2 headings should also have a
font size of 48px and letter spacing of 4px - both expressed in rem units - and a normal font weight.
PX to REM: 
48px = 3rem  4px= 0.25 rem */
h2 {
    text-transform: uppercase;
    font: size 3rem;;
    margin: 0;
    letter-spacing: 0.25rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}

/* the level 3 headings should also have a font size of 32px - 
expressed in rem units - a normal font weight, but no text shadow and a foreground color of black.*/
h3 {
    text-transform: uppercase;
    font-size:6rem;
    margin: 0;
    letter-spacing: .5rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}
/*the level 4 heading should also have a font size 
of 24px, letter spacing of 4px and bottom padding of 18px - all expressed in rem units - and a normal font weight.*/
h4 {
    text-transform: uppercase;
    font-size:6rem;
    margin: 0;
    letter-spacing: .5rem;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}

/* *FOR above h1-h4 with same styling except */

h5 {}


/* Section & Paragraph */

section {}

p {}


/* Image & Figure */

img {}

figure {}

figcaption {}


/* Footer */

footer {}
